/* poppins-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/poppins-v22-latin-100.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/poppins-v22-latin-200.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/poppins-v22-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/poppins-v22-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
}

.hero {
  margin-top: 56px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
}
.hero__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.25px;
  color: hsl(234, 12%, 34%);
}
@media (width >= 43.75rem) {
  .hero__subtitle {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: hsl(234, 12%, 34%);
  }
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.25px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 1rem;
}
@media (width >= 43.75rem) {
  .hero__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: hsl(234, 12%, 34%);
  }
}
.hero__description {
  font-family: "Poppins", sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  color: hsl(234, 12%, 34%);
}
@media (width >= 43.75rem) {
  .hero__description {
    text-align: center;
  }
}

.cards {
  margin-left: 30px;
  margin-right: 30px;
}
@media (width >= 43.75rem) {
  .cards {
    margin-left: 54px;
    margin-right: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (width > 68.75rem) {
  .cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

@media (width >= 43.75rem) {
  .card__couple {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (width > 68.75rem) {
  .card__couple {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.card {
  box-shadow: 0 15px 30px -11px hsla(213, 47%, 67%, 0.5);
  margin-bottom: 2rem;
  max-width: 314px;
  padding-block-end: 2rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}
.card__supervisor_bordercolor {
  border-radius: 8px 8px 0 0;
  height: 4px;
  background-color: hsl(180, 62%, 55%);
}
.card__teambuilder_bordercolor {
  border-radius: 8px 8px 0 0;
  height: 4px;
  background-color: hsl(0, 78%, 62%);
}
.card__karma_bordercolor {
  border-radius: 8px 8px 0 0;
  height: 4px;
  background-color: hsl(34, 97%, 64%);
}
.card__calculator_bordercolor {
  border-radius: 8px 8px 0 0;
  height: 4px;
  background-color: hsl(212, 86%, 64%);
}
.card__wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0px;
  color: hsl(234, 12%, 34%);
  padding-top: 2rem;
  padding-bottom: 6px;
}
.card__description {
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
  color: hsl(210, 6%, 44%);
  padding-bottom: 2rem;
}
.card__icon {
  display: block;
  margin-left: auto;
}

.attribution {
  margin-top: 200px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
  color: hsl(210, 6%, 44%);
}
.attribution a {
  text-decoration: none;
  color: hsl(0, 78%, 62%);
}
.attribution a:hover {
  border: 1px solid hsl(0, 78%, 62%);
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */