/* poppins-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/poppins-v22-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/poppins-v22-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/poppins-v22-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$color-dark-grey: hsl(234, 12%, 34%);
$color-light-grey: hsl(210, 6%, 44%);
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-blue: hsl(212, 86%, 64%);
$color-orange: hsl(34, 97%, 64%);
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;

@mixin textpreset1($font-size: 2.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: $color-dark-grey;
}

@mixin textpreset2($font-size: 2.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: $color-dark-grey;
}
@mixin textpreset3($font-size: 1.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0px;
    color: $color-dark-grey;
}
@mixin textpreset4($font-size: 0.94rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0px;
    color: $color-dark-grey;
}
@mixin textpreset5($font-size: 0.81rem, $textcolor:$color-light-grey) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0px;
    color: $textcolor;
}

@mixin bordercolor($background-color: $color-dark-grey) {
             border-radius: 8px 8px 0 0;
        height: 4px;
    background-color: $background-color;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {

    background: hsl(0, 0%, 98%);
}
.hero {

    text-align: center;
    margin: auto auto;
    margin-top: 56px;
    margin-bottom: 60px;

    @media (width>calc(700 / 17 * 1rem)){
    margin-left: 30px;
    margin-right: 30px;
}

    &__subtitle {
        @include textpreset2($font-size: 1.5rem);

        @media (width >= calc(700 / 16 * 1rem)) {
        text-align: center;
        @include textpreset2($font-size: 2.25rem);

    }
}

    &__title {
        @include textpreset1($font-size: 1.5rem);
        margin-bottom: $space-16;

        @media (width>calc(700 / 17 * 1rem)) {
                margin-left: 30px;
                margin-right: 30px;
            }

            @media (width >=calc(700 / 16 * 1rem)) {
            text-align: center;
                    @include textpreset1($font-size: 2.25rem);
            
                }

    }
    &__description {
        @include textpreset4;

        @media (width<calc(700 / 17 * 1rem)) {
                margin-left: 30px;
                margin-right: 30px;
            }

           @media (width >=calc(700 / 16 * 1rem)) {
            text-align: center;
                    
            
                }
    }
}

.cards {
    margin: auto auto;
    display: grid;
    justify-content: center;
    

    @media (width >=calc(700 / 16 * 1rem)) {
      
        display: flex;
        flex-direction: column;
        align-items: center;
    }

         @media (width >calc(1100 / 16 * 1rem)) {
            display: flex;
            flex-direction: row;
            gap: $space-32;
            margin: auto auto;
            justify-content: center;
           
           
           
            
         }

}
  

  .card__couple {
      @media (width >=calc(700 / 16 * 1rem)) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: $space-32;
      }

      @media (width >calc(1100 / 16 * 1rem)) {
          margin-bottom: 0px;
          display: flex;
          flex-direction: column;
          row-gap: 0;
      }

  }


.card {
    box-shadow: 0 15px 30px -11px hsl(213, 47, 67, 50%);
  
        margin-bottom: $space-32;


        max-width: 314px;
        padding-block-end: $space-32;
        border-radius: 8px;
        background: hsl(0, 0%, 100%);

  
    &__supervisor_bordercolor {
        @include bordercolor($background-color: $color-cyan);
    }

    &__teambuilder_bordercolor {
        @include bordercolor($background-color: $color-red);
    }

    &__karma_bordercolor {
        @include bordercolor($background-color: $color-orange);
    }

    &__calculator_bordercolor {
        @include bordercolor($background-color: $color-blue);
    }
   
    &__wrapper {
        padding-left: $space-32;
        padding-right: $space-32;
    }

    &__title {
        @include textpreset3;
        padding-top: $space-32;
        padding-bottom: 6px;
        
    }

    &__description {
        @include textpreset5;
        padding-bottom: $space-32;
    }

  &__icon {
    display: block;
    margin-left: auto;
    
    

}
}

.attribution {
    margin-top: 200px;
    text-align: center;
    @include textpreset5;

    a {
        text-decoration: none;
        color: $color-red;

    &:hover {
            border: 1px solid $color-red;
            font-size: 20px;
        }
    }
    
        
          }

     

