/* poppins-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/poppins-v22-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/poppins-v22-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/poppins-v22-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$color-dark-grey: hsl(234, 12%, 34%);
$color-light-grey: hsl(210, 6%, 44%);
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-blue: hsl(212, 86%, 64%);
$color-orange: hsl(34, 97%, 64%);
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;

@mixin textpreset1($font-size: 2.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: $color-dark-grey;
}

@mixin textpreset1($font-size: 2.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: $color-dark-grey;
}
@mixin textpreset2($font-size: 2.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: $color-dark-grey;
}
@mixin textpreset3($font-size: 1.25rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0px;
    color: $color-dark-grey;
}
@mixin textpreset4($font-size: 0.94rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0px;
    color: $color-dark-grey;
}
@mixin textpreset5($font-size: 0.81rem, $textcolor:$color-light-grey) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0px;
    color: $textcolor;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


.hero {

    __subtitle {
        @include textpreset2;

    }

    __title{}

    __description {}
}


.card {

    __title {
        @include textpreset3;
    }

    __description {
        @include textpreset5;
    }
}